<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="footer.css">

  <div class="footer">
      <div class="container">
            <div class="row ">
              <div class="col-12 col-sm-3">
                <div class="footer-links">
                    <div class="title">
                  <p>Suivez nous !</p>
                    </div>
                  <a href="#"><a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram"></i></a></a>
                  <a href="#"><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></a>
                  <a href="#"><a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter"></i></a></a>
                </div>
            </div>
          </div>
      </div>

      <div class="col-12 col-sm-3">
        <div class="footer-copyright">
          <div class="title">
            <p>Informations pratiques</p>
          </div>
            <ul class="fBody">
              <li>Mentions légales</li>
              <li>Conditions générales d'utilisation</li>
              <li>Conditions générales de vente</li>
              <li>Données personelles</li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-sm-3">
      <div class="footer-copyright">
          <div class="title">
              <p>Partenariats</p>
          </div>
          <ul class="fBody">
            <li>Foncia Bordeaux</li>
            <li>Vinci Immobilier</li>
            <li>Cité du Vin</li>
            <li>Autres</li>
          </ul>
      </div>
  </div>

    <div class="col-12 col-sm-3">
      <div class="footer-copyright">
          <div class="title">
            <p>Contact</p>
          </div>
            <ul class="fContact">
                  <li><a href="#"><i class="fas fa-map-marker-alt"></i>
                    114 rue Lucien Faure </a></li>
                  <li><a href="#"><i class="far fa-envelope"></i>
                    support@nomdusite.com </a></li>
                  <li><a href="#"><i class="fas fa-phone"></i>
                    05.12.34.56.78 </a></li>
            </ul>
      </div>
  </div>

</div>
